@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-meteora-darker-gray rounded-xl hover:bg-meteora-dark-gray;
}

.swiper-pagination {
}

.swiper-pagination span {
  @apply bg-white;
}

.swiper-pagination-bullet {
  width: 32px !important;
  height: 3px !important;
  border-radius: 0 !important;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
